Chanel_Recommendation_Models-20251211T193057Z-3-001/Chanel_Recommendation_Models/embeddings_textuels.npz filter=lfs diff=lfs merge=lfs -text
Chanel_Recommendation_Models-20251211T193057Z-3-001/Chanel_Recommendation_Models/embeddings_visuels.npz filter=lfs diff=lfs merge=lfs -text
Chanel_Recommendation_Models-20251211T193057Z-3-001/Chanel_Recommendation_Models/df_clean_indexed.csv filter=lfs diff=lfs merge=lfs -text
